body {
    text-align: center;
}

.booksList {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
}

.addNewBookButton {
    padding: 1% 3%;
    border: 1px #585858 solid;
    border-radius: 5px;
}

.addNewBookForm {
    position: absolute;
    width: 40%;
    height: 62%;
    left: 30%;
    top: 6%;
    z-index: -10;
    border-radius: 10px;
    overflow: hidden;
}
